[push]
default = simple
[alias]
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
helper = /usr/bin/gp credential-helper
[user]
name = Daniel Maricic
email = daniel@woss.io
[gpg]
program = remote_signer
[tag]
forceSignAnnotated = true
[commit]
gpgsign = true

[init]
defaultBranch = main
